In [1]:
import pandas as pd
import numpy as np

In [3]:
file_to_load = "UKED201811DATA5/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [5]:
total_players = purchase_data["SN"].nunique()
tot_players_dict={"Total Players":[total_players]}
tot_plyr_df = pd.DataFrame.from_dict(tot_players_dict, orient='columns')
tot_plyr_df

   Total Players
0            576

In [7]:
#Purchase Analysis
#Number of Unique Items
nbr_unique_items = purchase_data["Item ID"].nunique()
#Average Purchase Price
avg_purch_price = purchase_data["Price"].mean()
#Total Number of Purchases
total_nbr_purch = len(purchase_data.index)
#Total Revenue
total_revenue = purchase_data["Price"].sum()

purch_tot_df = pd.DataFrame.from_dict({"Number of unique items":[nbr_unique_items],"Average Price":[avg_purch_price],"Number of Purchases":[total_nbr_purch],"Total Revenue":[total_revenue]}, orient='columns')
purch_tot_df["Total Revenue"] = purch_tot_df["Total Revenue"].map("$ {:,.2f}".format)
purch_tot_df["Average Price"] = purch_tot_df["Average Price"].map("$ {:,.2f}".format)
purch_tot_df

   Number of unique items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780    $ 2,379.77

In [9]:
#Gender Demographics
#Percentage and Count of Male Players
heroes_gender_df = pd.DataFrame(purchase_data.drop_duplicates(["SN"]))
gender_demo_grp = heroes_gender_df.groupby(['Gender'])
gender_df = pd.DataFrame({"Total Count":gender_demo_grp["Gender"].count(),"Percentage of players":gender_demo_grp["Gender"].count()/total_players*100})
gender_df["Percentage of players"] = gender_df["Percentage of players"].map("{:.2f}%".format)
gender_df.head()

                       Total Count Percentage of players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [10]:
#Purchasing Analysis (Gender)
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals
purch_df = pd.DataFrame(purchase_data)
gender_purch = purch_df.groupby(['Gender'])
gen_purch_df = pd.DataFrame({"Purchase Count":gender_purch["Price"].count(), "Average Purchase Price":gender_purch["Price"].mean(),"Total Purchase Value":gender_purch["Price"].sum(), "Normalized Totals":gender_purch["Price"].sum()/gender_df["Total Count"]})
gen_purch_df["Average Purchase Price"] = gen_purch_df["Average Purchase Price"].map("${:.2f}".format)
gen_purch_df["Total Purchase Value"] = gen_purch_df["Total Purchase Value"].map("${:,.2f}".format)
gen_purch_df["Normalized Totals"] = gen_purch_df["Normalized Totals"].map("${:,.2f}".format)
gen_purch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
age_df = pd.DataFrame(purchase_data)
group_names = ['<10', '10-13', '14-17', '18-21', '22-25', '26-29', '30-33', '34-37', '38-40', '>40']
bins = [0, 9, 13, 17, 21, 25, 29, 33, 37, 40, 80]

age_demo_grp = age_df.groupby(pd.cut(age_df["Age"], bins, labels=group_names))

# Create the names for the four bins
age_demo_df = pd.DataFrame({"Purchase Count":age_demo_grp["Price"].count(), "Average Purchase Price":age_demo_grp["Price"].mean(),"Total Purchase Value":age_demo_grp["Price"].sum(),"Normalized Totals":age_demo_grp["Price"].sum()/age_demo_grp["SN"].nunique()})
age_demo_df["Average Purchase Price"] = age_demo_df["Average Purchase Price"].map("${:.2f}".format)
age_demo_df["Total Purchase Value"] = age_demo_df["Total Purchase Value"].map("${:,.2f}".format)
age_demo_df["Normalized Totals"] = age_demo_df["Normalized Totals"].map("${:,.2f}".format)
age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,$3.35,$77.13,$4.54
10-13,26,$2.92,$75.87,$3.79
14-17,89,$3.01,$267.60,$3.77
18-21,210,$3.08,$647.26,$4.32
22-25,263,$3.05,$800.90,$4.24
26-29,42,$2.65,$111.10,$3.27
30-33,64,$3.00,$191.87,$4.26
34-37,35,$3.21,$112.33,$4.16
38-40,21,$3.53,$74.18,$4.64
>40,7,$3.08,$21.53,$3.08

In [12]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value


spenders_df = pd.DataFrame(purchase_data)
top_spnd_grp = spenders_df.groupby(['SN'])
top_spnd_df = pd.DataFrame({"Purchase Count":top_spnd_grp["Price"].count(), "Average Purchase Price":top_spnd_grp["Price"].mean(),"Total Purchase Value":top_spnd_grp["Price"].sum()})
top_spnd_df = top_spnd_df.sort_values("Total Purchase Value", ascending=False)
top_spnd_df["Average Purchase Price"] = top_spnd_df["Average Purchase Price"].map("${:.2f}".format)
top_spnd_df["Total Purchase Value"] = top_spnd_df["Total Purchase Value"].map("${:,.2f}".format)
top_spnd_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [13]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value


popit_df = pd.DataFrame(purchase_data)
popitems_grp = popit_df.groupby(['Item ID','Item Name'])
popitems_df = pd.DataFrame({"Purchase Count":popitems_grp["Price"].count(), "Item Price":popitems_grp["Price"].mean(),"Total Purchase Value":popitems_grp["Price"].sum()})
popitems_df = popitems_df.sort_values("Purchase Count", ascending=False)
popitems_df["Item Price"] = popitems_df["Item Price"].map("${:.2f}".format)
popitems_df["Total Purchase Value"] = popitems_df["Total Purchase Value"].map("${:,.2f}".format)

popitems_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [15]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

profit_df = pd.DataFrame(purchase_data)
profit_grp = profit_df.groupby(['Item ID','Item Name'])
profit_df = pd.DataFrame({"Purchase Count":profit_grp["Price"].count(), "Item Price":profit_grp["Price"].mean(),"Total Purchase Value":profit_grp["Price"].sum()})
profit_df = profit_df.sort_values("Total Purchase Value", ascending=False)
profit_df["Item Price"] = profit_df["Item Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:,.2f}".format)

profit_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80